<div class="mobile-utility">
    <span>Authorized Dealer - Free Shipping - 30 Day Returns</span>
</div>

<style>
    .mobile-utility{
        display: none;
    }

    @media (max-width:784px) {
        .mobile-utility{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #dee2e6 !important;
            padding-left: 3em;
            padding-right: 3em;
            height: 41px;
            font-size: 12px;
        }
    }
</style>
