<div class="container">
    <h2 class="title text-center text-uppercase">
        {{section.settings.section-title}}
    </h2>
    <div>
        <div><img src="{{section.settings.experts-img | img_url: '1280x'}}" alt=""></div>
        <div></div>
    </div>
</div>





{% schema %}
    {
        "name": "JGL Expert Section",
        "settings": [
            {
                "type":"text",
                "id": "section-title",
                "label": "Expert Section Title",
                "default": "OUR EXPERT TEAM IS HERE TO HELP"
            },
            {
                "type":"text",
                "id": "btn-span",
                "label": "First Button Label",
                "default": "Ask a Question"
            },
            {
                "type":"text",
                "id": "btn-span-2",
                "label": "Second Button Label",
                "default": "Chat With Us"
            },
            {
                "type":"url",
                "id": "btn-link",
                "label": "First Button Link"
            },
            {
                "type":"url",
                "id": "btn-link-2",
                "label": "Second Button Link"
            },
            {
                "type": "image_picker",
                "id": "experts-img",
                "label": "Image"
            }
        ],
        "presets": [
    {
      "name": "JGL Experts Section"
    }]
    }
{% endschema %}