<div class="jgl-header">
    <div class="logo-store">
        <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/TRUSTED_HOME_DIRECT_2_3b1dbf82-50c2-4928-8c25-23c36a027eb2.png?v=1672689007" height="165" width="180" alt="">
    </div>
</div>



<style>
    .jgl-header{
        width: 100%;
    }

    .logo-store{

    }
</style>