<div class="product-section--container pdp-overview ">
  <div>
    <h2>Product Overview</h2>
  </div>
  <div class="pdp-overview_elements">
    {% for item in shop.metaobjects.overview.values %}
      <div class="pdp-overview_element">
        <img src="{{ item.icon | img_url: '24x' }}" alt=""> <span>{{ item.name }}</span>
      </div>
    {% endfor %}
  </div>

</div>

<style>

  .pdp-overview_elements {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    background-color: #f6f4f3;
  }

  .pdp-overview_element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 20%;
    gap: 1rem;
  }

  @media (max-width:900px) {
    .pdp-overview_element {
      flex: 1 1 50%;
    }
  }

  @media (max-width:475px) {
    .pdp-overview_element {
      flex: 1 1 100%;
    }
  }

</style>

{% schema %}
  {
    "name": "JGL PDP Overview",
    "settings": [
    ],
    "blocks": [
      {
        "type": "blokz",
        "name": "Blokz",
        "settings": [
          {
            "type": "html",
            "id": "htmlId",
            "label": "HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "JGL PDP Overview"
      }
    ]
  }
{% endschema %}