<div class="product-section--container pdp-overview ">
  <div>
    <h2>Product Overview</h2>
  </div>
  <div>
    {{shop.metaobjects.overview.name}}
  </div>

</div>

<style>

</style>

{% schema %}
  {
    "name": "JGL PDP Overview",
    "settings": [
      {
        "type": "html",
        "id": "htmlId",
        "label": "HTML",
        "default": "<div></div>"
      }
    ],
    "presets": [
      {
        "name": "JGL PDP Overview"
      }
    ]
  }
{% endschema %}