<div class="product-section--container pdp-overview ">
  <div>
    <h2>Product Overview</h2>
  </div>
  <div>
    {{shop.metaobjects['overview']}}

    {% for item in shop.metaobjects['overview'] %}
      {{item.name}}
    {% endfor %}
  </div>

</div>

<style>

</style>

{% schema %}
  {
    "name": "JGL PDP Overview",
    "settings": [
    ],
    "blocks": [
      {
        "type": "blokz",
        "name": "Blokz",
        "settings": [
          {
            "type": "html",
            "id": "htmlId",
            "label": "HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "JGL PDP Overview"
      }
    ]
  }
{% endschema %}