<div class="financing-section">
    <div class="title-div-ab">
        <div class="about-title"><h1>BUY NOW, PAY LATER</h1></div>
    </div>

    <div class="p-section">
        <p>Buy Now Pay Later. You now have the option to purchase your dream kitchen now... and pay later! Premium Home Source offers three of the top financing programs in the United States.</p>
    </div>

    <div class="p-section">
        <p>Use either Affirm, Klarna, or Bread Pay to finance your purchase with as low as a 0% interest rate (0% APR.).</p>
    </div>
</div>

<style>
    .title-div-ab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-image:linear-gradient(180deg,transparent,#000 139.98%,#000),url('https://cdn.shopify.com/s/files/1/0694/3499/9087/files/about-banner_3000x_e12fad27-8b24-4f95-b20d-342ea2dd34b6.webp?v=1673896980');
        background-repeat: no-repeat;
        background-size: contain;
        color: #FFF;
    }

    .p-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #000;
    }

    .p-section > p{
        max-width: 600px;
    }
</style>


{% schema %}
    {
        "name": "JGL Financing Section",
        "settings": [],
        
        "presets": [
    {
      "name": "JGL Financing Section"
    }]
}
{% endschema %}
