<div class="brand-section">
    <div>
        <h1>{{ section.settings.brands-title }}</h1>
        <span>{{ section.settings.brands-subtitle }}</span>
    </div>
</div>


<style>

</style>

{% schema %}
    {
        "name": "JGL Brand Section",
        "settings": [
            {
                "type":"text",
                "id":"brands-title",
                "label": "WE ARE AN AUTHORIZED DEALER OF TODAY'S BEST BRANDS"
            },
            {
                "type":"text",
                "id":"brands-subtitle",
                "label": "As an authorized dealer, our team can help you find the perfect home appliance & goods, for the best price, from the top brands."
            }

        ],
        "presets": [
    {
      "name": "JGL Brand Section"
    }]
}
{% endschema %}