<div class="pdp-overview">
    <div>
        <h2>Product Overview</h2>
    </div>
    <div>
        
    </div>

</div>

{% schema %}
    {
        "name": "JGL PDP Overview",
        "settings": [],
        "presets": [
    {
      "name": "JGL PDP Overview"
    }]
}
{% endschema %}