{% for collection in collections %}
  {{- collection.title | link_to: collection.url }}
{% endfor %}



<div class="product-section--container pdp-overview ">
  <div>
    <h2>{{product.vendor}}</h2>
  </div>

  <div class="pdp-overview_elements">
    {% for collection in collections %}
      {% if collection.title == product.vendor %}
        <a href="{{collection.url}}">See more from ZLINE</a>
      {% endif %}
    {% endfor %}
  </div>

</div>
{% schema %}
  {
    "name": "More form vendor",
    "settings": [],
    "presets": [
      {
        "name": "JGL PDP Overview"
      }
    ]
  }
{% endschema %}