<div class="product-section--container more-from-vendor">
  <div>
    <h2>{{product.vendor}}</h2>
  </div>

  <div class="">
    {% for collection in collections %}
      {% if collection.title == product.vendor %}
        <a href="{{collection.url}}">See more from ZLINE</a>
      {% endif %}
    {% endfor %}
  </div>

</div>
{% schema %}
  {
    "name": "More form vendor",
    "settings": [],
    "presets": [
      {
        "name": "More form vendor"
      }
    ]
  }
{% endschema %}