<div class="contact-page">
  <div class="contact-tite">
    <h1>HOW CAN WE HELP?</h1>
    <span>Inquiring About Shipping Times? Building a Custom Package? Use our Custom Package Builder today!</span>
  </div>
  <div class="con-box-div">
      <div class="con-box">
        <span>Call us at</span>
        <div class="con-phone">
          <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/phone.svg?v=1673895301" alt="">
          <h2 class="phone-num">(973) 319-8188</h2>
        </div>
        <span class="phone-con"><strong>Extension 1:</strong>Talk to a Sales Pro</span>
        <span class="phone-con-2"><strong>Extension 2:</strong>Talk to a Customer Service Pro</span>

        <p class="low-span">Monday to Sunday
          9:00am - 9:00pm EST</p>
      </div>
      <div class="con-box">
        <span>Email us</span>
        <a href=""><div class="con-btn"><img class="img-con" src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/email.svg?v=1675451998" alt=""><span>Send Email</span></div></a>
        <p class="p-con">Email us with any question/inquiry and our experts will follow back in shortest time possible</p>
        <span class="low-span"> Question about an order? Don't forget to mention your order number in the email</span>
      </div>
      <div class="con-box">
        <span>Live Chat</span>
        <a href="" onclick="Chatra('openChat', true)"><div class="con-btn"><img class="img-con" src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/chat_0b14ac62-4ad8-43a8-8b34-c56f11b7c2b5.svg?v=1674186530" alt=""><span>Start Chat</span></div></a>
        <p class="p-con-2">Get advice from one of our Appliance Product Experts</p>
        <span class="low-span">Monday to Sunday
          9:00am - 9:00pm EST</span>
      </div>
  </div>
  <div class="guarantee">
    <img src="https://cdn.shopify.com/s/files/1/0694/3499/9087/files/guara.svg?v=1675453347" alt="">
    <span>We guarantee you the best experience and prices from our team!

    </span>
  </div>
</div>




<style>
.contact-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#f6f4f3;
  padding-top: 40px;
  }

  .phone-num{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
  }

  .phone-con{
      text-align: left;
      font-size: 13px;
      line-height: 34px;
  }

  .phone-con-2{
    text-align: left;
    font-size: 13px;
    line-height: 25px;
    }


.contact-title{
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  display: block;
  letter-spacing: 4.5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: 
}

.con-box-div{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  gap: 20px;
  width: 100%;
  max-width: 920px;
  margin-bottom: 50px;
}

.con-box{
  background-color: white;
  width: 33%;
  padding: 3rem;
  }

  .con-box > a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    min-height: 41px;
    margin-top: 20px;
    border: 2px solid black;
    }


    .con-btn{
      display: flex;
      gap: 10px;
      
    }



.con-phone{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.p-con{
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 30px;
  }

  .p-con-2{
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 53px;
  }

  .low-span{
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-top: 25px;
  }

  .guarantee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
  }


  @media (max-width:950px){
    .con-box-div{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-tite{
  padding-right: 20px;
  padding-left: 20px;

}

.con-box{
  background-color: white;
  width: 90%;
  padding: 3rem;
  }
  }
</style>