<div class="product-section--container pdp-drop">
  <div class="so-accordion-wrapper-2">
    <div class="so-tab"><input
        id="so-tab-1"
        type="checkbox"
        name="tabs" />
      <label for="so-tab-1">Specifications & Dimensions</label>
      <div class="so-tab-content prod-spec">
        <table class="table table-bordered" width="100%">
          <tbody>
            {% for item in product.metafields.custom.specifications.value %}
              <tr>
                <td>
                  <strong>{{item[0]}}:</strong>
                </td>
                <td>
                  <span>{{item[1]}}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="so-tab">
      <input
        id="so-tab-3"
        type="checkbox"
        checked
        name="tabs" />
      <label for="so-tab-3">FREQUENTLY BOUGHT TOGETHER</label>
      <div class="so-tab-content">
        <div data-rebuy-id="72919" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
      </div>
    </div>
    <div class="so-tab"><input
        id="so-tab-2"
        type="checkbox"
        name="tabs" />
      <label for="so-tab-2">PRODUCT DESCRIPTION</label>
      <div class="so-tab-content">
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>

</div>

<!-- Begin Accordion Snippet -->
<style>

  .so-tab-content {
    padding: 0 1.25rem;
  }

  .prod-spec tbody, .prod-spec td, .prod-spec tfoot, .prod-spec th, .prod-spec thead, .prod-spec tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  .prod-spec table {
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    caption-side: bottom;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 100%;
    width: 100%!important;
  }

  .prod-spec table tr {
    border-width: 1px 0;
    border-color: inherit;
    border-style: solid;
  }

  .prod-spec table td {
    border: 1px solid #ccc;
    border-width: 0 1px;
    padding: 10px;
    vertical-align: initial;
    width: auto!important;
    word-break: break-word;
    background-color: var(--bs-table-bg);
  }

  .pdp-drop {
    margin-top: 80px;
    margin-bottom: 80px;

  }

  .faq-section {
    background: #f4f4f7;
  }
  .title-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .so-accordion-wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .so-tab {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    border-top: 2px solid #072C50;
    padding-top: 10px;
  }
  .so-tab label {
    position: relative;
    display: block;
    padding: 0 25px 0 0;
    margin-bottom: 15px;
    line-height: normal;
    cursor: pointer;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .so-tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .so-tab-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;
  }
  /* :checked */
  .so-tab input:checked ~ .so-tab-content {
    max-height: none;
  }
  /* Icon */
  .so-tab label::after {
    position: absolute;
    right: 0;
    top: -20px;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }
  .so-tab input[type=checkbox] + label::after {
    content: "+";
  }
  .so-tab input[type=radio] + label::after {
    content: "\25BC";
  }
  .so-tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  .so-tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);

  }

  @media(max-width:769px) {
    .so-tab {
    }

    .title-faq > h1 {
      font-size: 18px;
      text-align: center;
    }
  }
</style>

{% schema %}
  {
    "name": "JGL PDP Dropdown",
    "settings": [],
    "presets": [
      {
        "name": "JGL PDP Dropdown"
      }
    ]
  }
{% endschema %}