html, body{
    overflow-x: hidden !important;
}

@media (min-width:1125px) {    

html .site-header-main .live-search {
    max-width: 400px;
}

html .site-header-main-content{
    margin-right: 11rem;
    justify-content: space-around;
}

html .site-header-main.site-header--full-width{
    max-height: 80px;
}

}

@media (max-width:1125px) {    
    html .site-header-logo {
        margin-top: -22px;
        display: flex;
        justify-content: center;
        max-height: 80px;
    }
    
}

html .product-form--atc-button {
    background-color: #F04F36;
    color: white;
    width: 100%;
    margin: 0;
}

html .product-form--atc-button:hover{
    background-color: #F04F36 !important;
    color: white;
}



html .product-title{
    font-size: 1.25rem!important;
    font-weight: 500!important;

}

html .navmenu-link{
    color: black !important;
}

.four-pdp{
    display: flex;
    gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-left: 50px;


}

.pdp-box{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
    max-width: 50%;
}

.pdp-box > span{
    font-size: 13px;
    line-height: 20px;
}

.pdp-box > img{
    max-width: 100%;
}

@media (max-width:600px) {
    .pdp-box > img{
        width: 18px;
    }
}

html .gallery-navigation--scroller{
    margin-left: 50px;
}

@media (max-width:950px) {
    html .gallery-navigation--scroller{
        margin-left: 0;
    }

    .four-pdp{
        margin-left: 0;
    }
    
}



html [data-product-gallery-aspect-ratio=natural] .product-gallery--media img, .product-gallery--media svg{
    max-height: 500px;
    max-width: 70%;
}