html, body{
    overflow-x: hidden !important;
}

@media (min-width:1125px) {    

html .site-header-main .live-search {
    max-width: 400px;
}

html .site-header-main-content{
    margin-right: 11rem;
    justify-content: space-around;
}

html .site-header-main.site-header--full-width{
    max-height: 80px;
}

}

@media (max-width:1125px) {    
    html .site-header-logo {
        margin-top: -22px;
        display: flex;
        justify-content: center;
        max-height: 64px;
    }
    
}

html .product-form--atc-button {
    background-color: #F04F36;
    color: white;
}