
@media (min-width:1125px) {    

html .site-header-main .live-search {
    max-width: 400px;
}

html .site-header-main-content{
    margin-right: 11rem;
    justify-content: space-around;
}

html .site-header-main.site-header--full-width{
    max-height: 80px;
}

}

@media (max-width:1125px) {    
    html .site-header-logo {
        margin-top: -84px;
        display: flex;
        justify-content: center;
        max-height: 139px;
    }
    
}


html .site-logo-image {
    width: 300px;
    max-height: 300px;
}

html .site-logo {
    max-width: 220px;
}